%h1 Mon profil
= simple_form_for(@user, url: profile_path(@user)) do |f|
  = f.input :firstname
  = f.input :lastname
  = f.input :photo, as: :file

  = f.submit "Mise à jour de mon profil", class: "btn btn-lg btn-success"
