%div.publication-item.comment-item
  .col-md-1.col-sm-1.hidden-xs.comment-author-photo
    = image_tag current_user.photo.thumb('40x40#').url
  .col-md-11.col-sm-11.col-xs-12.comment-content
    %strong.comment-author= current_user.display_name
    .comment-content-inner
      = simple_form_for([comment.commentable, comment], remote: true) do |f|
        = f.input :content, label: false, placeholder: "Votre commentaire&hellip;".html_safe
        = f.submit "Publier", class: "btn btn-success"
.clearfix