%div.publication-item.post-item{ id: "publication-#{post.id}", data: { publication_id: post.id } }
  .col-md-1.col-sm-1.hidden-xs.post-author-photo
    = image_tag post.author.photo.thumb('50x50#').url
  .col-md-11.col-sm-11.col-xs-12.post-content
    = render partial: "posts/item_inner", locals: { post: post }
    %small.post-meta
      %i.glyphicon.glyphicon-time
      %abbr{ data: { livestamp: post.created_at } }
        = l(post.created_at, format: :short)
    %div.post-comments{ id: "#publication-#{post.id}-comments" }
      = render partial: "comments/list", locals: { commentable: post }
      = render partial: "comments/form", locals: { comment: post.comments.build }

  .clearfix