= render partial: "layouts/shared/head"
%body{:"ng-controller" => content_for?(:angular_controller) ? yield(:angular_controller) : nil }
  = render partial: "shared/navbar"
  .container-fluid
    .row
      .col-md-2
        = render partial: "layouts/shared/sidebars/left"
      .col-md-7
        = render partial: "layouts/shared/page_title"
        = yield()
      #sidebar.col-md-3
        = render partial: "layouts/shared/sidebars/right"
= render partial: "layouts/shared/foot"
